@charset "UTF-8";
img{
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
    text-decoration:underline
    }
    h3{
        text-align: center;
    }
    p{ 
    text-align: center;
    }
    body{
        background-color: rgb(200, 50, 30);
    }
    a{
        color: white;
        text-decoration: none;
            
    }
    main{
        color: black;
        text-align:center
    }
    mark{
        background-color:  rgb(200, 50, 30);
        color: white;
    }